<h2>{{pais.name.common}} </h2>
<hr>

<div *ngIf="!pais" class="alert alert-info">
    cargando...
</div>


<div *ngIf="pais" class="row">


    <div class="col-4">
        <h3>Bandera y escudo:</h3>
        <img [src]="pais.flags.png" class="img-thumbnail">
        <img [src]="pais.coatOfArms.png" class="img-thumbnail">
    </div>

    <div class="col-4">
        <h3>Información:</h3>
        <ul class="list-group">
            <li class="list-group-item">Población: <small>{{pais.population | number}}</small></li>
            <li class="list-group-item">Población 'es': <small> {{pais.population | number:'1.0-0':'fr'}}</small></li>
            <li class="list-group-item">Capital: <small>{{pais.capital }}</small></li>
            <li class="list-group-item">Área: <small>{{pais.area | number}}</small></li>
        </ul>
        <h5>Frontera con: </h5>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of pais.borders">
                <a [routerLink]="['/pais', item]"> {{item}}</a>
            </li>
        </ul>
    </div>


</div>

<div class="row">
    <div class="col">
        <pre class="mt-2">
            {{pais | json}}
        </pre>
    </div>
</div>