<div class="animate__animated animate__fadeIn">

    <h2>Por región {{regionActiva | titlecase}}</h2>
    <hr>
    <button *ngFor="let region of regiones" class=" btn btn-xs ms-1 me-1 " [class.btn-primary]="region === regionActiva"
        (click)="buscar(region)">
        {{region | titlecase}}
    </button>


    <div class="mt-2 text-center">
        <app-loading></app-loading>
    </div>

    <div class="row">
        <div class="col">
            <app-tabla></app-tabla>
        </div>
    </div>

</div>